.nav-bar
{
   display: flex;
   background-color: inherit;
   height: 80px;
   position:fixed;
   top: 0;
   left:0;
   right: 0;
   justify-content: space-evenly;
   align-items: center;
}

.site-text-container
{  
   height: 50px;
   display: flex;
   flex: 3;
   padding-left: 40px;
   align-items: center;
   color: white;
   font-size: 1.2rem;
   text-transform: uppercase;
   
}

.search-container {
   display: flex;
   align-items: center;
   margin-right: 30px;
   border-radius: 20px;
   
}

.search-bar
{
   height: 40px;
   width: 250px;
   background-color: #151f30;
   border-radius: 10px;
   border-style: none;
   color: #fff;
   font: 15px system-ui;
   padding-left: 10px;
   
}